
<% include partials/_head%>
  <body>
    <% include partials/_header%>
    <section class="menu nav-clear">
      <!-- <article class="">
        <div id="list-example" class="list-group">
            <%for (categories in menu) {%>
              <a class="list-group-item list-group-item-action" href="#<%=categories.split(' ').join('').toLowerCase()%>"><%=categories%></a>
            <% } %>
          </div>
        </article> -->
      <article class="page-container">
          <%for (categories in menu) {%>
            <div  class="menu__container" id="<%=categories.split(' ').join('').toLowerCase()%>">
              <h1 class="menu__category"><%=categories%></h1>
                <div class="menu__items">
                  <% for (item of menu[categories]) { %>
                    <div class="menu__item">
                      <img src="<%=item.image_url%>" alt="<%=item.name%>">
                      <span hidden class="menu__item-id"><%=item.id%></span>
                      <h3 class="menu__item-name"><%=item.name%></h3>
                      <p class="menu__item-price"><%=item.price%></p>
                      <p class="menu__item-description"><%=item.description%></p>
                      <label for="<%=item.name%>">Quantity</label><input type="number" min="1" max="15" class="quantity" id="<%=item.name.split(' ').join('').toLowerCase()%>">
                      <button onclick="addToCart(this)" class="btn btn-success">Add to cart</button>
                    </div>
                  <% } %> 
                </div>
            </div>
          <% } %>
      </article>
    </section>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/smooth.js"></script>
  </body>
</html>