<!DOCTYPE html>
 <html> 
     <head> 
     </head>

  <body> 
    <header class="header">
        <nav class="nav">
          <p class="nav__logo">Let's<span class="nav__logo--sub">Eat</span></p>
          <ul class="nav__items">
            <li class="nav__item"><a href="/restaurants">Home</a></li>
            <li class="nav__item"><a href="/contacts">Contact Us</a></li>
            <li class="nav__item" id="cart"><a href="/cart">Cart</a></li>
          </ul>
        </nav> 
    </header> 
    
    
    <article class="order-container"> 
        <h3> Order #<%=ref_no%> </h3>
        <% for (var order in order_items) { %>
            <h4><%=order_items[order].name%></h4>
            <h4>Price <%=order_items[order].price%></h4>
            <h4>Quantity <%=order_items[order].quantity%></h4>
      
      <% } %>
      
        
    </article>
        

    <% if(user === "user"){ %>
        <%  if(!ready_time) { %>
        <p>We will update you with a pickup time shortly via SMS</p>
        <% } else { %>
        <h1>Your order will be ready  <%= ready_time %></h1>
        <% } %>
    <% } %>

    <% if(user === "owner"){ %> 
       <% if(!ready_time){ %>
        <form method="POST" action="/restaurants/orders/<%=ref_no %>">
            <label for="ready_time">Please enter ready time:</label>
            <input type="text" name="ready_time" id="ready_time">
            <button type="submit">submit</button>
        </form>
        <% } else { %>
        <h1>Ready time is: <%= ready_time %></h1>
        <% } %>
    <%  }  %>


    <span class="pricing">
        <p>Sub Total: <%=subTotal%> </p>
        <p>Sales Tax: <%=salesTax%></p>
        <p>Order Total: <%=totalPrice%></p>
    </span>
   
  </body>
  </html>

