
<% include partials/_head%>
  <body> 
    <% if (user === "owner") { %>
        <%include partials/_header2 %>
    <%} else {%>
    <% include partials/_header %>  
    <% } %> 
    
    <article class= "nav-clear container cust__order"> 
        <h3 class="cust__ref-no"> Order #<%=ref_no%> </h3>
        <div class="cust__container">
            <% for (var order in order_items) { %>
            <div class="cust__item">
                <p><%=order_items[order].name%></p>
                <p>Price <%=order_items[order].price%></p>
                <p>Quantity <%=order_items[order].quantity%></p>
            </div>
                <% } %>
        </div>
        <div class="cust__flex">
            <div class="cust__timer">
                <% if(user === "user"){ %>
                    <%  if(!ready_time) { %>
                    <p class="cust__update">We will update you with a pickup time shortly via SMS</p>
                    <% } else { %>
                    <p class="cust__update">Your order will be ready  <%= ready_time %></p>
                    <% } %>
                    <a class="cust__link" href= "/restaurants/confirmation/<%=ref_no %>">View Timer</a>
                <% } %>
        
            </div>
        
            <% if(user === "owner"){ %> 
                <% if(!ready_time){ %>
                <form method="POST" action="/restaurants/orders/<%=ref_no %>">
                    <label for="ready_time">Please enter ready time:</label>
                    <input type="text" name="ready_time" id="ready_time">
                    <button type="submit">submit</button>
                </form>
                <% } else { %>
                <p class="cust__ready">Ready time is: <%= ready_time %></p>
                <% } %>
            <%  }  %>
        
        
            <div class="pricing">
                <p>Sub Total: $<%=Math.round((subTotal + 0.00001) * 100) / 100%> </p>
                <p>Sales Tax: $<%=Math.round((salesTax + 0.00001) * 100) / 100%></p>
                <p>Order Total: $<%=Math.round((totalPrice + 0.00001) * 100) / 100%></p>
            </div>
        </div>
        
    </article>  
  </body>
  </html>

